mixin Promo 
  +Section
    .overflow-hidded
      .bg-primary.p-5.rounded-1
        h1.text-center.w-lg-75.w-100.mx-auto.fs-lg-6.fs-md-4.fs-3.fs-md-4.fw-normal.text-white.mt-3.lh-base.mb-5 An enterprise template to ramp up your company website
        .d-md-flex.align-items.center.justify-content-center.gap-3.my-4
          input(type='email', placeholder="Your email address").w-100.w-md-50.rounded-pill.border-0.form-control.text-black.mb-3.mb-md-0
          button.btn.btn-success.text-black Start now