mixin Footer
  +Section
    .row
      .col-lg-6.col-md-4
        a(href="index.html")
          img(src=`${CWD}assets/img/black-logo.png`, alt="").img-fluid.mb-5
        p.w-lg-75.text-gray Social media validation business model canvas graphical user interface launch party creative facebook iPad twitter.
      .col-lg-2.col-md-4
        h3.fw-bold.fs-1 Landings
        ul.list-unstyled.mt-5
          li.my-3.col-md-4
            a(href="#") Home
          li.my-3
            a(href="#") Products
          li.my-3
            a(href="#") Services
      .col-lg-2.col-md-4
        h3.fw-bold.fs-1 Company
        ul.list-unstyled.mt-5
          li.my-3
            a(href="#") Home
          li.my-3
            a(href="#") Careers
            span.py-1.px-2.rounded-2.bg-success.fw-bold.text-dark.ms-2 Hiring!
          li.my-3
            a(href="#") Services
      .col-lg-2.col-md-4
        h3.fw-bold.fs-1 Resources
        ul.list-unstyled.mt-5
          li.mb-3
            a(href="#") Home
          li.mb-3
            a(href="#") Products
          li.mb-3
            a(href="#") Services
    p.text-gray All rights reserved.