mixin Gallery 
  .container.px-lg-9.px-md-5 
    .gallery-wraper
      each singleImg in [`assets/img/gallery/1.png`,`assets/img/gallery/2.png`,`assets/img/gallery/3.png`,`assets/img/gallery/4.png`,`assets/img/gallery/5.png`]
        .img-wraper 
          img(src=singleImg, alt="")
    .px-xl-8.px-md-5.px-3.py-8
      p.fs-1 Our Story 
      h1.fs-lg-5.fs-3.fs-lg-6.my-4.fw-normal Handshake infographic mass market crowdfunding iteration.
      p.fs-1.lh-base Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. Traction stock user experience deployment beta innovator incubator focus. Sales user experience branding growth hacking holy grail monetization conversion prototype stock network effects. Learning curve network effects return on investment bootstrapping business-to-consumer. 
