mixin BlogHero
  +Section
    .border-bottom.border-2.pb-7
      p.text-primary.text-center.fs-1.mt-7.mt-lg-5 Blog
      h1.text-center.fs-lg-7.fs-md-4.fs-3.fw-normal.text-primary.mb-5 Thoughts and words
      .row.align-items-center.gx-xl-7
        .col-lg-6
          img(src="assets/img/blog/blog-hero.png", alt="").w-100
        .col-lg-6
          .d-flex.align-items-center.gap-3.my-xl-4.my-4.my-lg-0
            p.fw-bold.fs-small.m-0.text-black Category
            p.m-0 November 22, 2021
          h3.fw-normal.fs-xl-6.fs-md-4.fs-3.lh-base Pitch termsheet backing validation focus release.
          .d-flex.align-items-center.gap-2.my-4
            img(src="assets/img/blog/profile1.png", alt="profile")
            p.m-0 Chandler Bing