mixin Hero
  img(src="assets/img/hero/hero-bg.png", alt="").position-absolute.end-0.top-0.z-index-n2
  .bg-dark
    +Section
      .row.align-items-center.py-5
        .col-lg-6.my-xl-5.my-lg-4.my-lg-0
          h1.text-white.fs-3.fs-lg-4.fs-xl-6.lh-base Save time by building fast with Boldo Template
          p.text-white.py-lg-3.py-2 Funding handshake buyer business-to-business metrics iPad partnership. First mover advantage innovator success deployment non-disclosure.
          button.btn.btn-success.text-black.me-3.border-2.border-success.mb-3 Buy Template
          button.btn.btn-outlined.border-2.border-white.text-white.mb-3 Explore
        .col-lg-6.text-lg-end
            img(src="assets/img/hero/hero-graphics.png", alt="").img-fluid
      .swiper.mySwiper.mt-4
        .swiper-container.swiper-shadow.swiper-theme(data-swiper!={
              slidesPerView: 2,
              breakpoints: {
              640: {
              slidesPerView: 2,
              spaceBetween: 20,
              },
              768: {
                slidesPerView: 4,
                spaceBetween: 40,
              },
              992: {
                slidesPerView: 5,
                spaceBetween: 40,
              },
              1024: {
                slidesPerView: 4,
                spaceBetween: 50,
              },
              1025: {
                slidesPerView: 6,
                spaceBetween: 50,
              },
              },
              spaceBetween: 10,
              grabCursor: true,
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              },
              loop: true,
              freeMode: true,
              autoplay: {
              delay: 2500,
              disableOnInteraction: false,
              },
            })
            .swiper-wrapper
              +SwiperSlideImg("assets/img/logos/boldo.png")
              +SwiperSlideImg("assets/img/logos/presto.png")
              +SwiperSlideImg("assets/img/logos/boldo.png")
              +SwiperSlideImg("assets/img/logos/presto.png")
              +SwiperSlideImg("assets/img/logos/boldo.png")
              +SwiperSlideImg("assets/img/logos/presto.png")

mixin SwiperSlideImg(imgSrc)
  .swiper-slide
    img(src=imgSrc, alt="")