mixin FirstOffer
    +Section
        .row.align-items-center
            .col-lg-6
                img(src=`assets/img/offer/1.png`, alt="").img-fluid
            .col-lg-6
                h1.fw-normal.fs-xl-5.fs-lg-4.fs-md-3.lh-base We connect our customers with the best, and help them keep up-and stay open.
                ul.list-unstyled.my-xl-5.my-3
                    each item in ["We connect our customers with the best.", "Advisor success customer launch party.", "Business-to-consumer long tail."]
                        li.list-group-item.list-style-none.fs-1.fs-lg-2.my-4.d-flex.align-items-center.gap-3.text-black
                            i(class="fa-solid fa-circle-check").fs-lg-4.fs-3.text-dark
                            spam= item
                button.btn.btn-dark.mb-5.mt-2 Start now


//- second offer
mixin SecondOffer
    +Section(class="minus-margin ")
        .row.align-items-center
            .col-lg-6
                h1.fw-normal.fs-lg-4.fs-md-3.fs-xl-5.lh-base We connect our customers with the best, and help them keep up-and stay open.
                ul.list-unstyled.my-5
                    li.list-group-item.list-style-none.fs-1.fs-lg-2.my-4.d-flex.align-items-center.gap-3.shadow-sm.py-4.px-3.simple-hover.rounded-1
                        i(class="fa-solid fa-leaf").fs-lg-4.fs-3
                        spam We connect our customers with the best.
                    li.list-group-item.list-style-none.fs-1.fs-lg-2.my-4.d-flex.align-items-center.gap-3.shadow-sm.py-4.px-3.simple-hover.rounded-1
                        i(class="fa-solid fa-eye").fs-lg-4.fs-3
                        spam Advisor success customer launch party.
                    li.list-group-item.list-style-none.fs-1.fs-lg-2.my-4.d-flex.align-items-center.gap-3.shadow-sm.py-4.px-3.simple-hover.rounded-1
                        i(class="fa-solid fa-sun").fs-lg-4.fs-3
                        spam Business-to-consumer long tail.
            .col-lg-6.text-start.text-lg-end.mb-8
                img(src=`assets/img/offer/2.png`, alt="").img-fluid