mixin Services
    - 
        var services = [
            {
                img:"assets/img/services/1.png",
                title:"Cool feature title",
                description:"Learning curve network effects return on investment."
            },
            {
                img:"assets/img/services/2.png",
                title:"Even cooler feature",
                description:"Learning curve network effects return on investment."
            },
            {
                img:"assets/img/services/3.png",
                title:"Cool feature title",
                description:"Learning curve network effects return on investment."
            }
        ]
    #services
        +Section 
            p.text-center.fs-1 Our Services
            h2.mx-auto.text-center.fs-lg-6.fs-md-5.fw-normal.w-lg-75 Handshake infographic mass market crowdfunding iteration.
            .row.mt-7.gx-xl-7.gy-5.gy-md-0
                each service in services
                    .col-md-4
                        img(src=`${service.img}`, alt="").img-fluid.w-100
                        h3(class="fw-normal fs-2 mt-4 mb-3")= service.title
                        p(class="fs-lg-1 fw-thin")= service.description
                        a(href="").text-black.fs-lg-1.pb-2.border-black.border-bottom.text-decoration-none Explore page
                            i(class="fa-solid fa-arrow-right").ms-2