mixin Hero 
  #about.bg-primary.text-center
    +Section 
      p.text-light.pt-5.pt-lg-0.fs-1 About
      h1.text-white.fs-lg-7.fs-md-4.fs-3.fw-normal.lh-base.my-4 We love to make great 
        br
        | things, things that matter.
      p.w-100.w-md-50.text-light.mx-auto.pb-7 Funding handshake buyer business-to-business metrics iPad partnership. First mover advantage innovator success deployment non-disclosure.