// hover
.simple-hover {
  color: $black;
  transition: 0.3s ease;
  transition-property: color, background-color;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

// spacing
.primary-spacing {
  letter-spacing: 1px;
}

// swiper
.swiper-button-prev,
.swiper-button-next {
  @media screen and (max-width: 768px) {
    width: 3.5rem;
    height: 3.5rem;
  }

  background-color: #fff !important;
  position: absolute;
  top: 100px;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  color: $black;

  &::after {
    display: none;
  }
}

.swiper-button-prev {
  @media screen and (max-width: 768px) {
    left: calc(100% - 9rem);
  }

  left: calc(100% - 12rem);
}

.swiper-button-next {
  right: 1rem;
}

// accordion
.accordion-button {

  &::after {
    background-color: $primary;
    border-radius: 100%;
    width: 1.75rem !important;
    height: 1.75rem !important;
    background-position: 58.5% 71%;
  }
}

.accordion-button:not(.collapsed) {
  &::after {
    background-position: 50% 50% !important;
  }
}

// font extra learge

.font-extra-learge {
  @media only screen and (min-width:950px) and (max-width:1200px) {
    h1 {
      font-size: 4.5rem !important;
    }
  }

  @media only screen and (max-width:768px) {
    h1 {
      font-size: 4rem !important;
    }

    text-align: center;
  }

  h1 {
    font-size: 6rem;
  }
}