$assetPath: "/public/assets/img/hero/hero-bg.png";

// hover
.offer-list-item {
  color: $black;
  transition: 0.3s ease;
  transition-property: color, background-color;
  padding: 1.8rem 1rem;
  margin: 1.5rem 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;

  &:hover {
    background-color: $dark;
    color: white;
  }
}

// accordion
.accordion-button {

  &::after {
    background-color: $dark;
    border-radius: 100%;
    width: 1.75rem !important;
    height: 1.75rem !important;
    background-position: 58.5% 71%;
  }
}

.accordion-button:not(.collapsed) {
  &::after {
    background-position: 50% 50% !important;
  }
}

// font extra learge

.font-extra-learge-container {
  @media only screen and (min-width:950px) and (max-width:1200px) {
    h1 {
      font-size: 4.5rem !important;
    }
  }

  @media only screen and (max-width:768px) {
    h1 {
      font-size: 4rem !important;
    }

    text-align: center;
  }

  h1 {
    font-size: 6rem;
  }
}

// bg-holder

.bg-holder {
  @media only screen and (max-width:768px) {
    top: -10rem !important;
    right: -8rem;
  }

  @media only screen and (max-width:580px) {
    top: -12rem !important;
    right: -6rem;
  }

  @media only screen and (max-width:500px) {
    top: -20rem !important;
    right: -4rem;
  }

  right: -14rem;
  left: initial !important;
  top: -6rem !important;
}